/*FileBrowser CSS*/

.ui-grid-a a{
    left: 70%;
}

.ui-grid-a{

}

.ui-grid-a>.ui-block-a{
    width: 50%;
    padding-top: 3px;
}

.ui-grid-a>.ui-block-b{
    width: 50%;
    float:left;
}

.rowElement a{
    float: left;
}

.rowElement>.ui-block-a{
    width: 60%;
    padding-top: 3px;
}

.rowElement>.ui-block-b {
    width: 40%;
    /*text-align: center;*/
    text-align: right;
}

.iconContainer {
    left: 50%;
}

#optionsbar {
    text-align: center;
}


.ui-listview > li p {
    white-space:normal;
    line-height:1em;
    max-height:1em;
    text-overflow: ellipsis;
    padding-right: 1em;
}​

 .ui-listview > li {

 }

.ui-listview .ui-li-has-thumb > img:first-child,
.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child,
.ui-listview .ui-li-has-thumb .ui-li-thumb {
    left: 2px;
    top: 20px;
    max-height: 50px;
    max-width: 50px;
}
.ui-listview > .ui-li-has-thumb > .ui-btn,
.ui-listview > .ui-li-static.ui-li-has-thumb {
    max-height: 70px;
    min-height: 70px;
    padding: .7em 1em .7em 60px;
}

.ui-grid-upload {
    text-align: center;
}

.ui-block-upload-a {
    widht: 40%;
    float:left;
}

.ui-block-upload-b {
    width: 40%;
    float: left;
}

.fill {
    background-color: #005599;
}

.center {
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;
}

.styledheader {
    text-align: center;
    font-weight: bolder;
}

.fileText {
    font-size: 15px;
    font-family: monospace;
    color: #2a2a2a;
    font-weight: normal;
}

#uploadFilePopup {
    background-color: #eeeeee;
}

.padding-refresh{
    padding-left: 26%;
}

/* Repository CSS */

#welcomediv {
    text-align: center;
    border-style: solid;
    border: 2px;
}

/* Home CSS */

.headtext {
    text-align: center;
}

.headtext h1 {
    font-size: 30px;
    font-style: italic;
    font-family: monospace;
    font-variant: small-caps;
    text-shadow: 0px 0px 8px #34a3be;
    color: #2a2a2a;
}

.bodytext {
    width: 60%;
    float: left;
}

.bodytext p {
    font-size: 15px;
    font-family: monospace;
    line-height: 150%;
    color: #2a2a2a;
}

#imagehome {
    width: 40%;
    float: left;
    text-align: center;
}


img, object{
    max-height:100%;
    max-width:100%;
}

