/*FileBrowser CSS*/

.ui-grid-a a{
    left: 70%;
}

.ui-grid-a{
    text-align: left !important;
}

.ui-grid-a>.ui-block-a{
    width: 30%;
    padding-top: 12px;
}

.ui-grid-a>.ui-block-b{
    width: 70%;
    float:left;
}

.rowElement a{
    float: left;
}

.rowElement>.ui-block-a{
    width: 60%;
    padding-top: 10px;
}

.rowElement>.ui-block-b {
    width: 40%;
    /*text-align: center;*/
    text-align: right;
}

.iconContainer {
    left: 50%;
}

#optionsbar {
    text-align: center;
}


.ui-listview > li p {
    white-space:normal;
    line-height:1em;
    max-height:3em;
    text-overflow: ellipsis;
    padding-right: 1.5em;
}​

 .ui-listview > li {

 }

.ui-listview .ui-li-has-thumb > img:first-child,
.ui-listview .ui-li-has-thumb > .ui-btn > img:first-child,
.ui-listview .ui-li-has-thumb .ui-li-thumb {
    left: 2px;
    top: 20px;
    max-height: 50px;
    max-width: 50px;
}
.ui-listview > .ui-li-has-thumb > .ui-btn,
.ui-listview > .ui-li-static.ui-li-has-thumb {
    max-height: 70px;
    min-height: 70px;
    padding: .7em 1em .7em 60px;
}

.ui-grid-upload {
    text-align: center;
}

.ui-block-upload-a {
    widht: 40%;
    float:left;
}

.ui-block-upload-b {
    width: 40%;
    float: left;
}

.fill {
    background-color: #005599;
}

.center {
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    align:center;
    text-align:center;
}

.styledheader {
    text-align: center;
    font-weight: bolder;
}

.fileText {
    font-size: 15px;
    font-family: monospace;
    color: #2a2a2a;
    font-weight: normal;
}

#uploadFilePopup {
    background-color: #eeeeee;
}

.padding-refresh{
    padding-left: 25%;
}

/* Repository CSS */

#elixirlogodiv {
    text-align: center;
}

#welcomediv {
    text-align: center;
}

.logo {
    max-width: 100px;
    width: 20%;
}

.logobitlab {
    max-width: 200px;
    width: 40%;
}

.popupContent{
    padding: 0em 1em 1em 1em ;
}
/* Home CSS */

.headtext {
    text-align: center;
}

.headtext h1 {
    font-size: 30px;
    font-style: italic;
    font-family: monospace;
    font-variant: small-caps;
    color: #2a2a2a;
}

.bodytext {
    width: 60%;
    float: left;
}

.bodytext p {
    font-size: 15px;
    font-family: monospace;
    line-height: 150%;
    color: #2a2a2a;
}

#imagehome {
    width: 40%;
    float: left;
    text-align: center;
}


img, object{
    max-height:100%;
    max-width:100%;
}

/*** Joblist CSS ****/

#jobTable > tbody > tr.finished {
    background: #B2D5C4;
}

#jobTable > tbody > tr.failed {
    background: #d5bab3;
}

#jobTable > tbody > tr.Running {
    background: #f6f3cb;
}


#legendStatus {
    margin: auto !important;
    display:table;
}

#legendStatus > p.finished {
    background: #B2D5C4;
    float:left;
    margin-left: 20px;
    width: 100px;
    text-align: center;
}

#legendStatus > p.failed {
    background: #d5bab3;
    float:left;
    margin-left: 20px;
    width: 100px;
    text-align: center;
}

#legendStatus > p.Running {
    background: #f6f3cb;
    float:left;
    width: 100px;
    text-align: center;
}

.tabMenu > ul > li > a {
    text-align: center !important;
}

.tabMenu > ul > li > a::after {
    margin-top: 0px !important;
}

#results {
    width: 100%;
    padding: 4px;
    margin: 12px;
    color: blue;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 75%;
    white-space: pre-wrap;
    display: block;
    outline: none;
}